@model ListOfCustomersViewModel

@{
    ViewData["Title"] = "List";
}

<h1>Customers List</h1>

<p>
    <a asp-action="Create">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModels.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModels.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModels.FirstOrDefault().Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModels.FirstOrDefault().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModels.FirstOrDefault().ClientType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerViewModels.FirstOrDefault().RegisteredInventory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerViewModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisteredInventory)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
